* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

.context-menu {
    position: fixed;
    width: 150px;
    background-color: #1b1a1a;
    display: none;

}

.context-menu.visible {
    display: block;
}




.context-menu .item {
    color: white;
    padding: 8px 10px;
}

.context-menu .item:hover {
    background-color: #555;
}

.context-menu .item i {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}


hr {
    margin: 5px 0;
    border-color: #555;
}